<div
  class="w-full h-full flex flex-col items-center justify-center text-text-color px-4"
>
  <h2
    class="md:text-[1.3vw] font-semibold text-center mb-6 mt-6 w-full max-w-3xl"
  >
    {{ labels.heading }}
  </h2>

  <form
    [formGroup]="emailForm"
    class="bg-[#46486b] p-6 rounded-[1.5vw] shadow-md w-full max-w-[90%] h-full flex flex-col justify-between"
  >
    <div class="flex-1 flex flex-col overflow-hidden">
      <div class="mb-4">
        <label class="block text-[1.2vw] font-medium mb-1">
          {{ labels.name }}
        </label>
        <input
          class="w-full border border-gray-300 rounded-[0.8vw] p-2 font-medium"
          type="text"
          formControlName="name"
        />
      </div>

      <div class="mb-4">
        <label class="block text-[1.2vw] font-medium mb-1">
          {{ labels.email }}
        </label>
        <input
          class="w-full border border-gray-300 rounded-[0.8vw] p-2 font-medium"
          type="email"
          formControlName="email"
        />
      </div>

      <div class="flex flex-col flex-1">
        <label class="block text-[1.2vw] font-medium mb-1">
          {{ labels.message }}
        </label>
        <textarea
          class="w-full border border-gray-300 rounded-[0.8vw] p-2 text-text-color font-medium flex-1 resize-none"
          formControlName="message"
        ></textarea>
      </div>
    </div>

    <button
      class="bg-card-background hover:bg-color-background text-text-color font-semibold py-2 px-4 rounded-[0.6vw] transition-all cursor-pointer self-end mt-4 disabled:opacity-50 disabled:cursor-not-allowed"
      type="button"
      [disabled]="emailForm.invalid || sending"
      (click)="
        sendEmail(
          emailForm.value.name || '',
          emailForm.value.email || '',
          emailForm.value.message || ''
        )
      "
    >
      {{ labels.send }}
    </button>
  </form>

  <div
    *ngIf="statusMessage"
    [@fadeInOut]
    class="mb-4 w-full max-w-[90%] p-3 rounded-[0.8vw] text-center text-[1.4vw] font-medium text-text-color"
    [ngClass]="{
      'bg-[#46486b]': statusClass === 'success',
      'bg-[#46486b] text-white': statusClass === 'error',
    }"
  >
    {{ statusMessage }}
  </div>
</div>
