<div class="text-text-color w-full flex flex-col items-center px-4 mt-4 pt-4">
  <h1
    class="text-[1.8rem] md:text-[2.5rem] font-semibold text-center text-[--color-text-color] mb-6"
  >
    {{ greeting }}
  </h1>

  <div
    class="w-[90%] text-justify text-[1rem] md:text-[1.1rem] leading-6 md:leading-7"
  >
    <div *ngFor="let paragraph of paragraphs">
      <p class="mb-6 text-[--color-text-color]">
        {{ paragraph }}
      </p>
    </div>
  </div>

  <div class="text-font-icons flex flex-row pb-10 gap-10 md:hidden">
    <div>
      <a
        class="left-btn-icon text-4xl bg-card-background"
        href="https://github.com/joaocarlos-dev"
        target="_blank"
      >
        <i class="fa fa-github"></i>
      </a>
    </div>
    <div>
      <a
        class="left-btn-icon text-4xl bg-card-background"
        href="https://www.linkedin.com/in/joao-henrique-jorge-carlos/"
        target="_blank"
      >
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
    </div>
    <div>
      <a
        class="left-btn-icon text-4xl bg-card-background"
        href="mailto:joaohenriquejorgecarlos@email.com"
      >
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
