<nav
  class="md:hidden bg-card-background text-text-color shadow p-4 rounded-[2vw] transition-all duration-300 ease-in-out"
>
  <div class="flex items-center justify-between">
    <span class="text-font-title text-lg">João Henrique</span>
    <button (click)="toggleMenu()" class="text-2xl">&#9776;</button>
  </div>

  <div
    [ngClass]="{
      'max-h-96 opacity-100 mt-4': isMenuOpen,
      'max-h-0 opacity-0 overflow-hidden': !isMenuOpen,
    }"
    class="transition-all duration-500 ease-in-out flex flex-col gap-3"
  >
    <div class="flex flex-col items-start gap-4">
      <div class="flex items-center gap-2">
        <i class="fa fa-user-circle"></i>
        <a (click)="onSectionClick('about')">About</a>
      </div>
      <div class="flex items-center gap-2">
        <i class="fa fa-briefcase"></i>
        <a (click)="onSectionClick('experience')">Experiences</a>
      </div>
      <div class="flex items-center gap-2">
        <i class="fa fa-code"></i>
        <a (click)="onSectionClick('projects')">Projects</a>
      </div>
      <div class="flex items-center gap-2">
        <i class="fa fa-envelope-open-o"></i>
        <a (click)="onSectionClick('contact')">Contact me</a>
      </div>
      <div class="flex items-center gap-3">
        <i class="fa fa-file-text"></i>
        <a (click)="onSectionClick('resume')">Resume</a>
      </div>
    </div>
  </div>
</nav>
