<div>
  <div>
    <i (click)="toggleMenu()"></i>
  </div>

  <!-- Menu Responsivo -->
  <div *ngIf="isMenuOpen || isDesktop" [@slideInOut] id="menu-container">
    <header>
      <div>
        <div>
          <i class="fa fa-user-circle"></i>
          <a href="#header">About</a>
        </div>
        <div>
          <i class="fa fa-briefcase"></i>
          <a>Experiences</a>
        </div>
        <div>
          <i class="fa fa-code"></i>
          <a>Projects</a>
        </div>
        <div>
          <i class="fa fa-envelope-open-o"></i>
          <a>Contact me</a>
        </div>
        <div>
          <i class="fa fa-file-text"></i>
          <a>Resume</a>
        </div>
      </div>
    </header>
  </div>
</div>
