<div
  class="md:flex bg-card-background h-full rounded-[2vw] flex-col items-center"
>
  <div *ngIf="visibleSection === 'about'" @fadeInOut class="">
    <app-about></app-about>
  </div>

  <div *ngIf="visibleSection === 'experience'" @fadeInOut class="w-full">
    <app-experience></app-experience>
  </div>

  <div *ngIf="visibleSection === 'projects'" @fadeInOut class="w-full">
    <app-projects></app-projects>
  </div>

  <div *ngIf="visibleSection === 'resume'" @fadeInOut class="w-full">
    <app-curriculum></app-curriculum>
  </div>

  <div *ngIf="visibleSection === 'contact'" @fadeInOut class="w-full h-[95%]">
    <app-contact></app-contact>
  </div>
</div>
