<div
  class="hidden md:flex bg-card-background h-full rounded-[2vw] flex-col items-center"
>
  <div class="text-text-color text-[3vw]">!! PROJETO EM CONSTRUÇÃO !!</div>

  <ng-container [ngSwitch]="visibleSection">
    <div *ngSwitchCase="'about'" [@fadeInOut]="!isFadingOut">
      <app-about></app-about>
    </div>

    <div
      *ngSwitchCase="'experience'"
      [@fadeInOut]="!isFadingOut"
      class="w-full"
    >
      <app-experience></app-experience>
    </div>

    <!-- Adicione os outros aqui -->
  </ng-container>
</div>
