<div
  class="hidden md:flex bg-card-background h-full rounded-[2vw] flex-col items-center"
>
  <div class="text-text-color text-[3vw]">!! PROJETO EM CONSTRUÇÃO !!</div>

  <div *ngIf="visibleSection === 'about'" @fadeInOut>
    <app-about></app-about>
  </div>

  <div *ngIf="visibleSection === 'experience'" @fadeInOut class="w-full">
    <app-experience></app-experience>
  </div>

  <div *ngIf="visibleSection === 'projects'" @fadeInOut class="w-full">
    <app-projects></app-projects>
  </div>

  <div *ngIf="visibleSection === 'resume'" @fadeInOut class="w-full">
    <app-curriculum></app-curriculum>
  </div>
</div>
