@media screen and (min-width: 768px) {
  .wrapper{
      display: flex;
      width: 100%;
      height: 100%;
  }
  
  app-rightside {
      width: 70%;
      height: 100%;
    }
  
  app-leftside {
    width: 30%;
    height: 100%;
  }
  
  app-header{
    display: none;
  }
}


@media screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }
    app-leftside {
        display: none;
    }
  
}