<div
  class="mb-5 ml-2 mr-2 md:grid gap-6 grid-cols-[repeat(auto-fit,minmax(250px,1fr))]"
>
  <div
    *ngFor="let card of cards; let i = index"
    class="cursor-pointer mt-6 p-4 bg-card-background text-[#cccee7] rounded-[1vw] shadow-md border border-white/10 hover:shadow-xl transition-transform hover:-translate-y-1"
    (click)="openModal(i)"
  >
    <h3 class="text-lg font-semibold">{{ card.title }}</h3>
    <p class="text-sm mt-2">{{ card.short_description }}</p>
    <ul class="text-xs text-gray-400 mt-3 list-disc ml-4 space-y-1">
      <li *ngFor="let tech of card.technologies">{{ tech }}</li>
    </ul>
  </div>
</div>

<!-- Modal Overlay -->
<div
  *ngIf="selectedCard !== null"
  class="fixed inset-0 z-50 flex items-center justify-center w-full h-full p-4 bg-card-background overflow-y-auto"
  (click)="closeModal()"
>
  <!-- Modal Content -->
  <div
    @modalAnimation
    class="relative bg-card-background text-[#cccee7] p-4 rounded-xl shadow-lg w-full max-w-[95vw] max-h-[90vh] overflow-auto"
    (click)="$event.stopPropagation()"
  >
    <!-- Botão de Fechar -->
    <button
      class="absolute top-3 right-3 text-white text-2xl md:text-3xl font-bold hover:cursor-pointer z-50"
      (click)="closeModal()"
    >
      &times;
    </button>

    <h2
      class="text-base md:text-xl font-semibold mb-4 text-center w-full px-6 break-words"
      *ngIf="selectedCard !== null"
    >
      <a
        *ngIf="cards[selectedCard].link; else justTitle"
        [href]="cards[selectedCard].link"
        target="_blank"
        class="underline decoration-1 break-words text-[4vw]"
      >
        {{ cards[selectedCard].title }}
      </a>
      <ng-template #justTitle>
        {{ cards[selectedCard].title }}
      </ng-template>
    </h2>

    <!-- Conteúdo formatado -->
    <div
      class="prose prose-invert max-w-none text-sm md:text-base break-words"
      *ngIf="selectedCard !== null"
    >
      <!-- Aqui mantemos innerText para preservar o layout -->
      <div [innerText]="cards[selectedCard].content"></div>
    </div>
  </div>
</div>
