.leftcolumn{
    height: 100%;
    background-color: #313455;
}

.column-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.left-column-name{
    font-size: clamp(1.5rem, 4.5vw, 6rem);
    color: inherit;
}

.left-column-position{
    font-size: clamp(1rem, 2vw, 2.5rem);
    color: inherit;
}

.left-column-about{
    padding-top: 50px;
    width: 40%;
    font-size: clamp(0.8rem, 1.2vw, 2rem);
    text-align: center;
}

.left-column-header{
    font-size: clamp(1.2rem, 1vw, 6rem);
    color: inherit;
    width: 100%; // Garante que o header ocupa toda a largura
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.left-column-profile-icons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
    font-size: clamp(1rem, 4vw, 8rem);
}