<app-navbar></app-navbar>
<div
  class="hidden md:flex bg-card-background h-full w-full rounded-[2vw] flex-col items-center text-text-color justify-between"
>
  <div class="flex flex-col items-center text-center">
    <p class="text-font-title">João Henrique</p>
    <h2 class="text-font-subtitle">Full-stack Developer</h2>
    <p class="text-font-undersub">
      Hi! I’m João. A passionate software engineer.
    </p>
  </div>

  <div class="flex justify-center w-full text-font-header">
    <div class="flex flex-col items-start gap-4">
      <div class="flex items-center gap-2">
        <i class="fa fa-user-circle"></i>
        <a>About</a>
      </div>
      <div class="flex items-center gap-2">
        <i class="fa fa-briefcase"></i>
        <a>Experiences</a>
      </div>
      <div class="flex items-cente<div>r gap-2">
        <i class="fa fa-code"></i>
        <a>Projects</a>
      </div>
      <div class="flex items-center gap-2">
        <i class="fa fa-envelope-open-o"></i>
        <a>Contact me</a>
      </div>
      <div class="flex items-center gap-3">
        <i class="fa fa-file-text"></i>
        <a>Resume</a>
      </div>
    </div>
  </div>

  <div class="text-font-icons flex gap-6 pb-4">
    <a class="left-btn-icon" href="https://github.com/Ja1zinh0" target="_blank">
      <i class="fa fa-github"></i>
    </a>
    <a
      class="left-btn-icon"
      href="https://www.linkedin.com/in/joao-henrique-jorge-carlos/"
      target="_blank"
    >
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
    <a class="left-btn-icon" href="mailto:joaohenriquejorgecarlos@email.com">
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </a>
  </div>
</div>
