<div class="bg-sky-950 h-full rounded-[2vw]">
  <div>
    <h1>João Henrique</h1>
    <h2>Full-stack Developer</h2>
    <p>Hi! I’m João. A passionate software engineer.</p>
  </div>

  <div class="">
    <app-header></app-header>
  </div>

  <div class="">
    <a href="https://github.com/Ja1zinh0" target="_blank">
      <i class="fa fa-github"></i>
    </a>
    <a
      href="https://www.linkedin.com/in/joao-henrique-jorge-carlos/"
      target="_blank"
    >
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
    <a href="mailto:joaohenriquejorgecarlos@email.com">
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </a>
  </div>
</div>
