.left-column{
    height: 100%;
    background-color: #313455;
}

.column-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.top-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-column-name{
    font-size: clamp(1.5rem, 3.5vw, 6rem);
    color: inherit;
}

.left-column-position{
    font-size: clamp(1rem, 2vw, 2.5rem);
    color: inherit;
}

.left-column-about{
    padding-top: 50px;
    width: 50%;
    font-size: clamp(0.8rem, 1.2vw, 2rem);
    text-align: center;
}

.left-column-header{
    font-size: clamp(1.2rem, 1vw, 6rem);
    color: inherit;
    width: 100%; 
    display: flex;
    justify-content: center;
}

.left-column-profile-icons{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 20px;
    font-size: clamp(0.5rem, 2vw, 4rem);
}

.left-column-profile-icons i{
    border: 1px solid #171a38;
    border-radius: 10px;      
    color: inherit;
    padding: 5px;
    background-color: #171a38;
}

.left-column-profile-icons a{
    text-decoration: none;
    color: inherit;
}

