<app-navbar></app-navbar>
<div
  class="hidden md:flex bg-card-background h-full w-full rounded-[2vw] flex-col items-center text-text-color justify-between"
>
  <div class="flex flex-col items-center text-center">
    <p class="text-font-title">{{ greetingText }}</p>
    <h2 class="text-font-subtitle">{{ subtitleText }}</h2>
    <p class="text-font-undersub m-4">
      {{
        languageService.isPortuguese()
          ? "Oi! Sou o João, desenvolvedor de software e apaixonado por tecnologia."
          : "Hi! I’m João. A passionate software engineer."
      }}
    </p>
  </div>

  <div class="flex justify-center w-full text-font-header">
    <div class="flex flex-col items-start gap-4">
      <div class="header-button" (click)="onSectionClick('about')">
        <i class="fa fa-user-circle"></i>
        <span>{{ aboutText }}</span>
      </div>
      <div class="header-button" (click)="onSectionClick('experience')">
        <i class="fa fa-briefcase"></i>
        <span>{{ experienceText }}</span>
      </div>
      <div class="header-button" (click)="onSectionClick('projects')">
        <i class="fa fa-code"></i>
        <span>{{ projectsText }}</span>
      </div>
      <div class="header-button" (click)="onSectionClick('contact')">
        <i class="fa fa-envelope-open-o"></i>
        <span>{{ contactText }}</span>
      </div>
      <div class="header-button" (click)="onSectionClick('resume')">
        <i class="fa fa-file-text"></i>
        <span>{{ resumeText }}</span>
      </div>
    </div>
  </div>

  <div class="text-font-icons flex gap-6 pb-4">
    <a
      class="left-btn-icon"
      href="https://github.com/joaocarlos-dev"
      target="_blank"
    >
      <i class="fa fa-github"></i>
    </a>
    <a
      class="left-btn-icon"
      href="https://www.linkedin.com/in/joao-henrique-jorge-carlos/"
      target="_blank"
    >
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
    <a class="left-btn-icon" href="mailto:joaohenriquejorgecarlos@email.com">
      <i class="fa fa-envelope" aria-hidden="true"></i>
    </a>
  </div>
</div>
