<div class="hidden md:block bg-card-background h-full rounded-[1vw]">
  <div class="h-full w-full flex flex-col items-center justify-between">
    <button
      class="text-text-color right-btn mt-2 px-4 py-2 rounded-lg text-sm font-medium shadow-md hover:bg-[#4e527a] transition duration-200 hover:cursor-pointer"
      (click)="toggleLanguage($event)"
    >
      {{ currentLanguage === "en" ? "EN" : "PT" }}
    </button>

    <button class="right-btn mb-2" (click)="toggleCard($event)"></button>
  </div>
</div>
