<div class="hidden md:block bg-card-background h-full rounded-[1vw]">
  <div class="h-full w-full flex flex-col items-center justify-between pt-2">
    <button class="right-btn pt" (click)="toggleLanguage($event)">
      {{ currentLanguage === "en" ? "EN" : "PT" }}
    </button>

    <div class="text-font-icons flex flex-col pb-2 gap-6">
      <div>
        <a
          class="left-btn-icon"
          href="https://github.com/joaocarlos-dev"
          target="_blank"
        >
          <i class="fa fa-github"></i>
        </a>
      </div>
      <div>
        <a
          class="left-btn-icon"
          href="https://www.linkedin.com/in/joao-henrique-jorge-carlos/"
          target="_blank"
        >
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </div>
      <div>
        <a
          class="left-btn-icon"
          href="mailto:joaohenriquejorgecarlos@email.com"
        >
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>
