@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #313455;
  --color-card-background: #1e2244;
  --color-text-color: #cccee7;
  --color-hover-background: #4e527a;
  --font-default-font: 'JetBrains Mono', monospace;
  --text-font-title: clamp(1.5rem, 3vw, 6rem);
  --text-font-subtitle: clamp(1rem,1.6vw,2.5rem);
  --text-font-undersub: clamp(0.8rem,1.1vw,2rem);
  --text-font-header: clamp(1.2rem,1.5vw,6rem);
  --btn-icon-bg: #171a38;
  --btn-icon-size: clamp(2rem, 3vw, 4rem);
  --btn-icon-height: clamp(2.5rem, 3vw, 4rem);
  --btn-icon-font: clamp(0.5rem, 2vw, 2rem);
  --btn-icon-radius: 12px;
  --btn-right-bg: #46486b;

  --color-exp-bg: #7074a1;
}

@layer components {
  .left-btn-icon {
    background-color: var(--btn-icon-bg);
    border: 1px solid var(--btn-icon-bg);
    border-radius: var(--btn-icon-radius);
    width: var(--btn-icon-size);
    height: var(--btn-icon-height);
    font-size: var(--btn-icon-font);
    display: grid;
    place-items: center;
  }

  .right-btn{
    background-color: var(--btn-right-bg);
    border-radius: 1vw;
    width: clamp(0.5rem, 3.8vw, 6vw);
    height: clamp(0.5rem, 3.8vw, 6vw);;
  }

  .experience-card{
    background-color: var(--color-exp-bg);
    border-radius: 0.5vw;
    height: fit-content;
    color: #171827;
  }

  .header-button {
    border-radius: 1vw;
    padding: 0.1rem 0.4rem;
    transition: all 300ms ease-in-out;
    display: flex;
    align-items: center;
    gap: 0.3rem;
  
    &:hover {
      cursor: pointer;
      background-color: var(--color-hover-background);
    }
  }
  
}
