@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 100;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, app-root {
  isolation: isolate;
}

@layer utilities {
  .text-fluid-h1 {
    font-size: clamp(1.5rem, 3.5vw, 6rem);
  }

  .text-fluid-h2 {
    font-size: clamp(1rem, 2vw, 2.5rem);
  }

  .text-fluid-p {
    font-size: clamp(0.8rem, 1.2vw, 2rem);
  }

  .text-fluid-icons {
    font-size: clamp(0.5rem, 2vw, 4rem);
  }
  
}
